body {
    margin: 100px;
}
header {
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: lightblue;
    font-size: 20px;
}

section {
    color: lightgray;
}
.descrizione-foto {
    color: black;

}
.autore {
    color: lightblue;
}

.evidenziato {
    background-color: yellow;
}

thead {
    background-color: blue;
    color: white;
}

.riga-evidenziata {
    background-color: lightblue;
}

.immagine1 {
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    color: white;
    width: 150px;
    height: 100px;
}

.immagine2 {
    background-image: url("../img/graph.jpg");
    background-size: cover;
    color: white;
    width: 150px;
    height: 100px;
}